

{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>{% block title %} Add shipping item  {% endblock %}</title>
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">HOME</a>
                    </li>
                     <li class="nav-item dropdown ">
                       <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">  STORE VIEW</a>
                            <ul class="dropdown-menu dropdown-menu-dark bg-dark">
                                <li><a class="dropdown-item " href="/full_list">FULL LIST</a></li>
                                <li><a class="dropdown-item "  href="/sv_components">SERVICEABLE LIST</a></li>
                                <li><a class="dropdown-item " href="/us_components">UNSERVICEABLE LIST</a></li>
                                <li><a class="dropdown-item     " href="/shipped_components">SHIPPED LIST</a></li>
                            </ul>
                     </li>
                     <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">  STORE MANAGEMENT</a>
                            <ul class="dropdown-menu dropdown-menu-dark bg-dark">
                                <li><a class="dropdown-item" href="/receiving">RECEIVING ITEMS</a></li>
                               <li> <a class="dropdown-item" href="/shipping">SHIPPING ITEMS</a></li>
                            </ul>
                     </li>
                </ul>
            </div>
        </div>
        <div>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <span class="navbar-text">{{user.username}}</span>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </nav>
    <div class="container-fluid">
        {% block content%}
            <form method="post" enctype="multipart/form-data" >
                {% csrf_token %}{{form|crispy}}
                <button type="submit" class="btn btn-success">Add item for shipment</button>
             </form>
        {% endblock %}
    </div>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>