{# tutorial/templates/tutorial/people.html #}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      table {
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }
     .gray{
                background-color: gray;
                font-weight: normal;
                text-align: left;
                width: 4cm;
            }
    tr:nth-child(even) {
        background-color: #f2f2f2
    }
</style>
</head>
<body>

<p>Click the button to sort the table alphabetically, by Description:</p>
<p><button onclick="sortTable()">Sort</button></p>
     <table id="myTable">
            <tr>
                <td class="gray">DESCRIPTION</td>
                <td class="gray">PART NUMBER</td>
                <td class="gray">SERIAL NUMBER</td>
                <td class="gray">DATE RECEIVED</td>
                <td class="gray">CONDITION</td>
                <td class="gray">RECEIVED FROM</td>
                <td class="gray">QUANTITY</td>
                <td class="gray">UNIT</td>
                <td class="gray">CERTIFICATE NUMBER</td>
                <td class="gray">SHELF LIFE</td>
                  <td class="gray">DATE SHIPPED</td>
                  <td class="gray">SHIPPED CONDITION</td>
                  <td class="gray">SHIPPED TO</td>
                  <td class="gray">INVOICE</td>

            </tr>

            {% for i in ser %}
             <tr>
                <td>{{i.description}}</td>
                <td>{{i.part_number}}</td>
                <td>{{i.serial_number}}</td>
                <td>{{i.date_received}}</td>
                <td>{{i.condition_received}}</td>
                <td>{{i.received_from}}</td>
                <td>{{i.quantity}}</td>
                 <td>{{i.unit}}</td>
                 <td>{{i.certificate_number}}</td>
                 <td>{{i.shelf_life}}</td>
                 <td>{{i.date_shipped}}</td>
                 <td>{{i.shipped_condition}}</td>
                 <td>{{i.shipped_to}}</td>
                  <td>{{i.invoice}}</td>
            </tr>
            {% endfor %}
        </table>
    <script>
function sortTable() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("myTable");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[0];
      y = rows[i + 1].getElementsByTagName("TD")[0];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}

    </script>
</body>
</html>