<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <table >
            <tr>
                <td class="gray">DESCRIPTION</td>
                <td class="gray">PART NUMBER</td>
                <td class="gray">SERIAL NUMBER</td>
                <td class="gray">DATE RECEIVED</td>
                <td class="gray">CONDITION RECEIVED</td>
                <td class="gray">RECEIVED FROM</td>
                <td class="gray">QUANTITY</td>
                <td class="gray">UNIT</td>
                <td class="gray">DATE SHIPPED</td>
                <td class="gray">SHIPPED TO</td>
                <td class="gray">SHIPPED CONDITION</td>
            </tr>
                {% for i in response %}
             <tr>
                <td>{{i.component.description}}</td>
                <td>{{i.component.part_number}}</td>
                <td>{{i.serial_number}}</td>
                <td>{{i.date_received}}</td>
                <td>{{i.condition_received.condition}}</td>
                <td>{{i.received_from}}</td>
                 <td>{{i.quantity}}</td>
                 <td>{{i.unit}}</td>
                <td>{{i.certificate_number}}</td>
                 <td>{{i.shelf_life}}</td>
                 <td><a href="{{ i.certificate }}">Download</a></td>
             </tr>
            {% endfor %}

        </table>

</body>
</html>